src/__debug*

# Environment variables
.env
.env.local

*.md

# Database data
db/

# Ignore git directory
.git
.gitignore

# Ignore local builds
bin/
dist/
/server

# Ignore dependency directories (Docker will re-download them cleanly)
vendor/
